a {
	color:#00529a;
}
a:hover {
	color:#00a4e4;
	text-decoration: none;
}
h3 {
	font-family: Helvetica,Arial,serif;
	color:#00529a;
	font-size: 36px;
}
.content-block {clear:both;}
.header_blog_title:hover {
	color:#00a4e4;

}
.blog_image {
	width: 100%;
	min-height: 144px;
}
.top_bar {
	background-color: #00529a;
border-bottom: 5px solid #8cc63f;
float: left;
width: 100%;
padding: 10px 20px;
}
.social_media {
	float: right;
	visibility: hidden;
height: 0px;
}
.social_media img {
	width: 25px;
	height: 25px;
}
.header {
    padding: 20px 20px 10px;
    float: left;
}
.main_image {
	float: right;
	padding: 10px 20px 10px;
	text-align: right;
}
.main_image img {float:right;}
.header_blog_text {
	padding: 10px 20px;
	background-color: #00529a;
	border-top: 5px solid #8cc63f;
}
.header_blog_title {
	color:#ffffff;
	font-weight: bold;
	font-family: Helvetica,Arial,serif;
}

.header_blog_date {color:#ffffff;}

.post_section {
	margin-top: 25px;
}
.media_image {
	width: 100%;
}

#blogcontainer, #media_container {padding:0 15px;}
.media_section {margin-top: 20px;}

.blog_title {
	font-size:1.5vw!important;
	font-family: Helvetica,Arial,serif;
	color:#00529a;
}
.blog_title:hover {
	color:#00a4e4;
}
.sub_blog_title {
    margin-top: 10px;
}

.blog_date {
	color:#00a4e4;
}

.connect_header {
	background-color: #00529a;
	border-top: 5px solid #8cc63f;
	font-size: 20px;
	font-family: Helvetica,Arial,serif;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	padding: 10px 0;
}

.quicklinks {}
.quicklinks ul {
	list-style: none;
	padding: 0;
	margin: 20px;
}
.quicklinks a {
	font-size: 22px;
	line-height: 42px;
}

.content-block.footer_section {
	background-color: #00529a;
	border-top: 5px solid #8cc63f;
	padding: 10px 0;
	float: left;
	width: 100%;
	margin-top: 20px;
}
.footer_logo {
	float: left;
}
.footer_logo img {
	width: 130px;
}
.footer_text {
	float: left;
	text-align: right;
	font-size: 12px;
	color: #fff;
	margin-top: 5px;
}
.footer_text a { 
	color: #ffffff;
}

/*tablet*/

@media (max-width: 991px) {
	.header img {width: 75%;}
	.main_image img {width: 75%; margin-top:10px;}
	h2.header_blog_title {
    	font-size: 22px;
	}
}

@media (max-width: 767px) {
	.main_image img {width: 75%; margin-top:20px;}
	h2.header_blog_title {
    	font-size: 18px;
	}
	.blog_title {
    	font-size: 2.5vw!important;
    	font-family: Helvetica,Arial,serif;
    	color: #00529a;
	}
	.media_image {
    	width: 100%;
    	margin-bottom: 10px;
	}
}

@media (max-width: 576px) {
	.header {
   	 	width: 50%;
	}
	.main_image {
    	width: 50%;
	}
	.main_image img {width: 75%; margin-top:20px;}
	h2.header_blog_title {
    	font-size: 18px;
	}
	.blog_title {
    	font-size: 3.5vw!important;
    	font-family: Helvetica,Arial,serif;
    	color: #00529a;
	}
	.media_image {
    	width: 100%;
    	margin-bottom: 10px;
	}
}