h3 {
	font-family: Helvetica,Arial,serif;
	color:#00529a;
	font-size: 36px;
}
.content-block {clear:both;}
.blog_image {
	width: 100%;
}
.top_bar {
	border-bottom: 1px solid #8cc63f;
	float: left;
	width: 100%;
	padding: 10px 20px;
}
.social_media {
	float: right;
}
.social_media img {
	width: 25px;
	height: 25px;
}
.header {
    padding: 20px 20px 10px;
    float: left;
}
.main_image {
	float: right;
	padding: 10px 20px 10px;
	text-align: right;
}
.main_image img {float:right;}
.header_blog_text {
	padding: 10px 20px;
	background-color: rgba(125, 194, 66);
}
.header_blog_title {color:#00529a;}
.header_blog_date {color:#00529a;}

.post_section {
	margin-top: 25px;
}
.media_image {
	width: 100%;
}

#blogcontainer, #media_container {padding:0 15px;}
.media_section {margin-top: 20px;}

.sub_blog_title a,h2{
	font-size:1.5vw!important;
	font-family: Helvetica,Arial,serif;
	color:#00529a;
}
.sub_blog_title {
    margin-top: 10px;
}
.sub_blog_title a:hover{
	color:#00a4e4;
	text-decoration: none;
}
.blog_date {
	color:#00a4e4;
}

.connect_header {
	background-color: #8cc63f;
	font-size: 20px;
	font-family: Helvetica,Arial,serif;
	text-align: center;
	font-weight: bold;
	color: #00529a;
	padding: 10px 0;
}